body.connexion{
    background-image: url("../img/landscape.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 25%;
    background-attachment: fixed;
    display: flex;
}

.adress{
    text-shadow: 2px 2px 1px rgba(250,250,250,0.9);
}

body.connexion > .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descr_proj_connexion{
    color: #fff;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
}